@model StudentHousingDto
@{
    ViewData["Title"] = "Delete";
}

<div>
    <form asp-action="Delete" >

        <partial name="StudentHousingPartialView/_DeleteDetailsPartialView" />

    </form>

</div>