@model RoleToReturnDto
@{
    ViewData["Title"] = "Details";
}

<h1>Details Role </h1>


<br />
<br />

    <partial name="RolePartailView/_DeleteDetailsPartialView"/>

    <div class="my-5">
      <a asp-action="Edit"  asp-route-id="@Model.Id" class="btn btn-warning">  Edit </a>
        <a asp-action="Index" class="btn btn-light">Back To List</a>

    </div>


