@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated GPS Map Background</title>
	<link rel="stylesheet" href="styles.css">
	<link href="~/css/gps.css" rel="stylesheet" />
</head>
<body>  
    <header class="hero hero--map gps-bg">
        <div class="gps-bg__guts">
            <div class="gps-bg__bg"></div>
            <div class="gps-bg__route"></div>
            <div class="gps-bg__marker"></div>
        </div>
        <div class="gps-bg__fade"></div>
        <h1 class="hero__title">Welcom Web Gis maps</h1>
    </header>
</body>
</html>