@model ForgetPasswordDto
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}



<div class="login-container">
    <div class="login-form" id="loginForm">
        <div asp-validation-summary="All"></div>

        <h1>Forget Password </h1>

        <form asp-action="SendResetPasswordUrl" method="post">
            <input class="text" asp-for="Email" placeholder="Email" required />
            <div class="text-danger">@Html.ValidationMessageFor(model => model.Email)</div>

            <button type="submit" value="Reset Password">Reset Password</button>
        </form>

    </div>
</div>

@section ValidationSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}