@model ResetPasswordDto
@{
    ViewData["Title"] = "ResetPAssword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="login-container">
    <div class="login-form" id="loginForm">
        <div asp-validation-summary="All"></div>

        <h1>Reset Password</h1>
        

        <form asp-action="ResetPassword" method="post">
           
            <input class="text" asp-for="NewPassword" type="password" placeholder="Password" required />
            <div class="text-danger">@Html.ValidationMessageFor(model => model.NewPassword)</div>
            <input class="text" asp-for="ConformPassword" type="password" placeholder="ConformPassword" required />
            <div class="text-danger">@Html.ValidationMessageFor(model => model.ConformPassword)</div>

            

            <button type="submit">Reset Password</button>
        </form>

    </div>
</div>

@section ValidationSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

