@model SignInDto
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="login-container">
    <div class="login-form" id="loginForm">
        <div asp-validation-summary="All"></div>

        <h1 class="text-center">Sign In</h1>
        <div class="text-center mb-3">
            <img src="@Url.Content("~/files/logo/logo.png")"
                 alt="Group Logo"
                 style="max-width: 90px; border-radius: 7px; margin-top: -10px;" />
        </div>

       
        
        <form asp-action="SignIn" method="post">
            <input class="text" asp-for="Email" placeholder="Email" required />
            <div class="text-danger">@Html.ValidationMessageFor(model => model.Email)</div>

            <input class="text" asp-for="Password" type="password" placeholder="Password" required />
            <div class="text-danger">@Html.ValidationMessageFor(model => model.Password)</div>

            <div class="wthree-text" style="margin: 10px 0;">
                <label class="anim">
                    <input asp-for="RemmeberMe" class="checkbox" />
                    <span>Remember Me</span>
                    <div class="text-danger">@Html.ValidationMessageFor(model => model.RemmeberMe)</div>
                </label>
            </div>

            <button type="submit">Sign In</button>
            <a asp-action="ForgetPassword">Forgot Your Password?</a>
        </form>
        <div class="form-message-container">
            <span>Or use your email and password</span>
        </div>
        <a asp-action="GoogleLogin" class="google-login-label">
            <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo" class="google-logo" />
            <span>Continue with Google</span>
        </a>
        <p>Don't have an account? <a asp-action="SignUp">Sign Up</a></p>
        
    </div>
    
</div>

@section ValidationSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
